.header {
  background-color: #1e1e2f;
  color: white;
  padding: 15px 0;
}

.container {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.nav a {
  margin: 0 15px;
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

.nav a:hover {
  color: #00bcd4;
}

.btn {
  background-color: #00bcd4;
  border: none;
  padding: 8px 15px;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.active{
  color: red !important;
  font-size: 24px;
}